[Unit]
Description=pupius-partnership.com announce
BindsTo=partnership.service
After=partnership.service

[Service]
User=core
EnvironmentFile=/etc/environment
RemainAfterExit=yes

ExecStart=/bin/sh -c "while true; \
  do \
  /bin/etcdctl set --ttl 60 /vulcand/upstreams/partnership/endpoints/partnership.service http://$COREOS_PRIVATE_IPV4:5009; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/pupius-partnership.com/locations/home/path '/.*'; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/pupius-partnership.com/locations/home/upstream partnership; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/www.pupius-partnership.com/locations/home/path '/.*'; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/www.pupius-partnership.com/locations/home/upstream partnership; \
  echo pupius-partnership.com running at http://$COREOS_PRIVATE_IPV4:5009 and registered with etcd; \
  sleep 45; done;"

[X-Fleet]
X-ConditionMachineOf=partnership.service

[Install]
WantedBy=multi-user.target
